<div>
    <h2>login</h2>

    <form class="form">
        <div class="form-group">
            <label for="login-email">email</label>
            <input class="form-input" type="text" id="email-form" />
        </div>
        <div class="form-group">
            <label for="login-password">password</label>
            <input type="text" type="password" id="password-form" />
        </div>
        <div class="form-group">
            <button class="btn" type="submit">login</button>
        </div>
    </form>

    <h2>signup</h2>
    <form class="form">
        <div class="form-group">
            <label for="login-username">username</label>
            <input class="form-input" type="text" id="signup_name" />
        </div>
        <div class="form-group">
            <label for="login-email">email</label>
            <input class="form-input" type="text" id="signup_email" />
        </div>
        <div class="form-group">
            <label for="login-password">password</label>
            <input type="text" type="password" id="signup_password" />
        </div>
        <div class="form-group">
            <button class="btn" type="submit">signup</button>
        </div>
    </form>

</div>