<div>
    <h2>Welcome, {{name}}</h2>
</div>

<div>
    <div>
        <h3>
            Post a new blog
        </h3>

        <form class="form">
            <div class="form-group">
                <label for="blog-subject">subject</label>
                <input type="text" class="form-input" id="blog" name="blog-subject">
            </div>
            <div class="form-group">
                <label for="blog-text"></label>
                <textarea name="blog-text" id="blog-text" name="blog-text"></textarea>
            </div>
        </form>
    </div>

</div>